.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
*.html
fdaPDE.Rproj
fdaPDE.Rcheck/
tests/data/SR-PDE
tests/data/DE-PDE
tests/data/tSR-PDE
tests/data/GSR-PDE
tests/data/tGSR-PDE/
tests/data/fPCA/
tests/building_check/fedora_gcc_devel/
tests/building_check/fedora_clang_devel/
tests/building_check/debian_gcc_patched/