# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      RGL_USE_NULL: true
      DISPLAY: 99.0

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
          
      - name: installing rgl support on Linux 
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install libgl1-mesa-dev libglu1-mesa-dev
        shell: bash
      
      - name: install rgl support on macOS     
        if: runner.os == 'macOS' 
        run: |
            brew install xquartz
        shell: bash

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          
      - name: build data
        run: |
          install.packages("fdaPDE", repos="https://cran.stat.unipd.it/")
          library(fdaPDE)
          library(testthat)
          source("tests/data/setup.R")
          remove.packages("fdaPDE")
        shell: Rscript {0}
        
      - name: remove last row of .Rbuildignore
        run: |
          sed -i '$d' .Rbuildignore
        shell: bash

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
